.svg_board {
    display: block;
    /* position:absolute; */
    height:100vh;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:5px;
    margin-bottom:5px;
    margin-right:5px;
    margin-left:5px;
    background-color: #F9F7ED;
    border: 1px solid #555;
}

.svg{
    display: block;
    position:absolute;
    z-index:0;
    /* height:100vh;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:5px;
    margin-bottom:5px;
    margin-right:5px;
    margin-left:5px; */
}

.icon-bar {
    display: block;
    position:relative;
    float:left;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:10px;
    margin-bottom:5px;
    margin-right: calc(100% - 75px);
    margin-left:10px;
    background-color: #F3F3CC;
    border: 1px solid #555;
}

.toolbar-button {
    background-color: #4CAF50;
    border-color: white;
    border:none; 
    color: white;
    width: 80px;
    padding:5px;
    box-align: center;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.icon-button {
    background-color:#C87533 !important;
    color: white !important;
    box-align: center !important;
    transition-duration: 0.4s !important;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.icon-button:hover {
    background-color: #33170D !important;
}

.incoming-down {
    background-color: red !important ;
}

.outgoing-down {
    background-color: green !important;
}


.select-deselect-muds {
    /* display:block; */
    position: absolute;;
    float:left; 

    /* resize: both; */
    /* top:0 !important; */
    /* left:0 !important; */
    margin-top:20px !important;
    margin-left:80px !important;
    background-color: #555;
    border: 1px solid #555;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: none; 
    z-index:1;
    /* overflow-y: auto; */
}

.select-deselect-muds__text {
    color: #F3F3CC; 
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.node-tooltip {
    /* display: block; */
    position:absolute;
    /* float:left; */
    background-color: #555;
    border: 1px solid #555;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    overflow-y: auto;
    /* resize: both; */
    z-index: 1;
}


#ace_protocols {
    color: #F3F3CC; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#ace_protocols td, #ace_protocols th {
    border: 1px solid #F3F3CC; 
    padding: 8px;
}
  
  /* #ace_protocols tr:nth-child(even){background-color: #f2f2f2;}
  
  #ace_protocols tr:hover {background-color: #ddd;} */
  
  #ace_protocols th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #F3F3CC;
    color: black;
  }
