.svg_board {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:5px;
    margin-bottom:5px;
    margin-right:5px;
    margin-left:70px;
    background-color: #F9F7ED;
    border: 1px solid #555;
}
  
.icon-bar {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:5px;
    margin-bottom:5px;
    margin-right: calc(100% - 65px);
    margin-left:5px;
    background-color: #F3F3CC;
    border: 1px solid #555;
}

.toolbar-button {
    background-color: #4CAF50;
    border-color: white;
    border:none; 
    color: white;
    width: 80px;
    padding:5px;
    box-align: center;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.icon-button {
    background-color:#C87533;
    /* border-color: black; */
    /* border:1px;  */
    color: white;
    box-align: center;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.icon-button:hover {
    background-color: #33170D;
}


.select-deselect-muds {
    display: block;
    position:absolute;
    height:25%;
    width:25%;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:20px;
    margin-left:80px;
    margin-bottom:20%;
    margin-right:60%;
    background-color: #555;
    border: 1px solid #555;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: none; 
    overflow-y: auto;
}

.select-deselect-muds__text {
    color: #F3F3CC; 
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.node-tooltip {
    display: block;
    position:absolute;
    /* height:25%;
    width:25%; */


    /* bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:20px;
    margin-left:80px;
    margin-bottom:20%;
    margin-right:60%; */
    background-color: #555;
    border: 1px solid #555;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    overflow-y: auto;
    right:0;
}